@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Jura:wght@500;600;700&display=swap');

:root {
  /* Paleta de Cores do Figma */
  --azul-escuro: #0C1542;
  --azul-medio: #141E5C;
  --azul-claro: #1B85CC;
  --fundo-branco: #F3F3F3;
  --texto-preto: #000000;
  --placeholder-grafite: #2F2F2F;
  --input-bg: #D9D9D9;

  /* Tipografia do Figma */
  --font-header-btn: 'Jura', sans-serif;
  --font-corpo: 'Inter', sans-serif;
}

/* Reset Global de Estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-corpo);
}

body {
  background-color: var(--fundo-branco);
  color: var(--texto-preto);
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}
